## ADDIDAS ANALISIS

In [ ]:
!wget https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx

--2025-09-10 20:09:57--  https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx [following]
--2025-09-10 20:09:57--  https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 693038 (677K) [application/octet-stream]
Saving to: ‘Adidas US Sales Datasets.xlsx’

Adidas US Sales Dat 100%[===================>] 676.79K  --.-KB/s    in 0.05s

2025-09-10 20:09:57 (12.4 MB/s) - ‘Adidas US Sales Datasets.xlsx’ saved [693038/693038]

In [ ]:
import pandas as pd
data = pd.read_excel("Adidas US Sales Datasets.xlsx")

In [ ]:
data.head(3)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store

0. Cuantas filas y columnas tiene la tabla?

In [ ]:
data.shape

(9648, 13)

0.1 Cual es la unidad de observación de la tabla?

La tabla muestra las ventas de zapatillas deportivas de Adidas

1. Cuales fueron las ventas totales?

In [ ]:
ventas_totales = data['Total Sales'].sum()
print(f"Las ventas totales fueron: {ventas_totales}")

Las ventas totales fueron: 899902125.0

1.1 Cuanto fue la ganancia operacional total?

In [ ]:
ganancia_operacional_total = data['Operating Profit'].sum()
print(f"La ganancia operacional total fue: {ganancia_operacional_total}")

La ganancia operacional total fue: 332134761.45000005

1.2 Cuanto fue el margen promedio total ?

In [ ]:
margen_promedio_total = data['Operating Margin'].mean()
print(f"El margen promedio total fue: {margen_promedio_total}")

El margen promedio total fue: 0.42299129353233833

1.3 Por que el margen promedio y no el total. Explique con palabras = Porque si sumara el total, no me daría ningún resultado útil, mientras que si calculo el margen promedio se sabrá más o menos cuales fueron las ganancias.

2. Cuales fueron las ventas totales por Retailer?

In [ ]:
ventas_por_retailer = data.groupby('Retailer')['Total Sales'].sum()
print("Ventas totales por Retailer:")
print(ventas_por_retailer)

Ventas totales por Retailer:
Retailer
Amazon            77698912.0
Foot Locker      220094720.0
Kohl's           102114753.0
Sports Direct    182470997.0
Walmart           74558410.0
West Gear        242964333.0
Name: Total Sales, dtype: float64

2.1 Cual fue la ganancia operacional total por retailer?

In [ ]:
ganancia_por_retailer = data.groupby('Retailer')['Operating Profit'].sum()
print("Ganancia operacional total por Retailer:")
print(ganancia_por_retailer)

Ganancia operacional total por Retailer:
Retailer
Amazon           28818503.31
Foot Locker      80722124.81
Kohl's           36811252.58
Sports Direct    74332954.96
Walmart          25782052.61
West Gear        85667873.18
Name: Operating Profit, dtype: float64

2.3 Tomando los dos resultados de arriba: El ganancia operacional total y las ventas totales divida ambos resultados. Le tiene que dar el margen total de cada Retailer.

In [ ]:
margen_total_por_retailer = ganancia_por_retailer / ventas_por_retailer
print("Margen total por Retailer:")
print(margen_total_por_retailer)

Margen total por Retailer:
Retailer
Amazon           0.370900
Foot Locker      0.366761
Kohl's           0.360489
Sports Direct    0.407369
Walmart          0.345797
West Gear        0.352594
dtype: float64

2.4 Cual fue el margen operacional promedio por retailer?

In [ ]:
margen_operacional_promedio_por_retailer = data.groupby('Retailer')['Operating Margin'].mean()
print("Margen operacional promedio por Retailer:")
print(margen_operacional_promedio_por_retailer)

Margen operacional promedio por Retailer:
Retailer
Amazon           0.417871
Foot Locker      0.417933
Kohl's           0.419291
Sports Direct    0.444892
Walmart          0.406534
West Gear        0.417856
Name: Operating Margin, dtype: float64

2.5 Por que los dos resultados anteriores le dieron diferente? Argumente

Por que en el primero se toman todos los productos por retailer y se dividen para saber exactamente cual fue el margen de ganancia total, mientras tanto en el segundo se toma simplemente el margen operacional y se divide para sacar el promedio y saber más o menos cual fue el margen de ganancia por retailer.

3.1 Retailer que mas unidades totales vende? Saque cuanto vende en unidades cada retailer y busque el mayor

In [ ]:
unidades_por_retailer = data.groupby('Retailer')['Units Sold'].sum()
retailer_mas_unidades = unidades_por_retailer.idxmax()
print("Unidades vendidas por Retailer:")
print(unidades_por_retailer)
print(f"\nEl retailer que mas unidades vendio es: {retailer_mas_unidades}")

Unidades vendidas por Retailer:
Retailer
Amazon           197990
Foot Locker      604369
Kohl's           287375
Sports Direct    557640
Walmart          206225
West Gear        625262
Name: Units Sold, dtype: int64

El retailer que mas unidades vendio es: West Gear

3.2 Cual fue el producto que mas unidades totales vendió?

In [ ]:
unidades_por_producto = data.groupby('Product')['Units Sold'].sum()
producto_con_mas_unidades = unidades_por_producto.idxmax()
print("Unidades vendidas por Producto:")
print(unidades_por_producto)
print(f"\nEl producto que mas unidades vendio es: {producto_con_mas_unidades}")

Unidades vendidas por Producto:
Product
Men's Apparel                306683
Men's Athletic Footwear      435526
Men's Street Footwear        593320
Women's Apparel              433827
Women's Athletic Footwear    317236
Women's Street Footwear      392269
Name: Units Sold, dtype: int64

El producto que mas unidades vendio es: Men's Street Footwear

3.3 Cual es el metodo de venta que mas ventas totales tuvo y más ventas promedio

In [ ]:
metodo_que_mas_ventas = data.groupby('Sales Method')['Total Sales'].sum().idxmax()
metodo_que_mas_ventas_promedio = data.groupby('Sales Method')['Total Sales'].mean().idxmax()
print(f"El metodo de venta que mas ventas tuvo fue: {metodo_que_mas_ventas}")
print(f"El metodo de venta que mas ventas tuvo fue: {metodo_que_mas_ventas_promedio}")

El metodo de venta que mas ventas tuvo fue: In-store
El metodo de venta que mas ventas tuvo fue: In-store

3.4 Cual Fue el estado que más ventas totales tuvo ?

In [ ]:
estado_que_mas_ventas = data.groupby('State')['Total Sales'].sum().idxmax()
print(f"El estado que mas ventas tuvo fue:", estado_que_mas_ventas)

El estado que mas ventas tuvo fue: New York

4. Teniendo en cuenta los resultados de arriba: 1. Tome el Retailer que vendio
mas 2. El estado que vendio mas 3.el producto que vendio mas y el metodo de ventas que vendio más 4. Filtre y genere un dataframe con ellos 5. llamelo como un nuevo dataframe

In [ ]:
filtro_combinado_df = data[
    (data['Retailer'] == retailer_mas_unidades) &
    (data['State'] == estado_que_mas_ventas) &
    (data['Product'] == producto_con_mas_unidades) &
    (data['Sales Method'] == metodo_que_mas_ventas)
]

print("Nuevo dataframe filtrado:")
display(filtro_combinado_df)

Nuevo dataframe filtrado:

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
1443,West Gear,1185732,2021-03-08,Northeast,New York,Albany,Men's Street Footwear,45.0,870,391500.0,176175.0,0.45,In-store
1449,West Gear,1185732,2021-04-09,Northeast,New York,Albany,Men's Street Footwear,45.0,825,371250.0,167062.5,0.45,In-store
1455,West Gear,1185732,2021-05-08,Northeast,New York,Albany,Men's Street Footwear,55.0,870,478500.0,215325.0,0.45,In-store
1461,West Gear,1185732,2021-06-10,Northeast,New York,Albany,Men's Street Footwear,60.0,875,525000.0,236250.0,0.45,In-store
1467,West Gear,1185732,2021-07-08,Northeast,New York,Albany,Men's Street Footwear,65.0,950,617500.0,277875.0,0.45,In-store
1473,West Gear,1185732,2021-08-09,Northeast,New York,Albany,Men's Street Footwear,65.0,925,601250.0,270562.5,0.45,In-store
1479,West Gear,1185732,2021-09-08,Northeast,New York,Albany,Men's Street Footwear,55.0,850,467500.0,210375.0,0.45,In-store
1485,West Gear,1185732,2021-10-10,Northeast,New York,Albany,Men's Street Footwear,60.0,800,480000.0,216000.0,0.45,In-store
1491,West Gear,1185732,2021-11-09,Northeast,New York,Albany,Men's Street Footwear,60.0,775,465000.0,209250.0,0.45,In-store
1497,West Gear,1185732,2021-12-08,Northeast,New York,Albany,Men's Street Footwear,65.0,875,568750.0,255937.5,0.45,In-store